</div>

    <div id="footer">
      <span class="menu-header menu-footer">Address, Phone &amp; Map</span>
      <p>Nike Storage Center<br />
        1102 120th St.<br />
        Roberts, WI  54023<br /><br />
        Phone: <a href="tel:17152467400">(715) 246-7400</a><br /><br />
        <a href="https://www.google.com/maps/place/Nike+Storage+Center/@44.9959377,-92.6223318,11.5z/data=!4m2!3m1!1s0x52b2ac69a0d0cd3b:0x77d1d96019dd6d" target="_blank">Map our location</a></p>
      <span class="menu-header menu-footer">Mailing Address</span>
      <p>Nike Storage Center<br />
         P.O. Box 279<br />
         Roberts, WI  54023
      </p>
      
      <span class="menu-header menu-footer">Office Hours</span>
      <p>Please call for an appt</p>
      
      <span class="menu-header menu-footer">Directions from</span>
      <ul id="directions">
        <li><a href="/directions/roberts-wi-rv-boat-self-storage">roberts wi</a></li>
        <li><a href="/directions/hudson-wi-rv-boat-self-storage">hudson wi</a></li>
        <li><a href="/directions/new-richmond-wi-rv-boat-self-storage">new richmond wi</a></li>
        <li><a href="/directions/stillwater-mn-rv-boat-self-storage">stillwater mn</a></li>
        <li><a href="/directions/river-falls-wi-rv-boat-self-storage">river falls wi</a></li>
        <li><a href="/directions/somerset-wi-rv-boat-self-storage">somerset wi</a></li>
        <li><a href="/directions/hammond-wi-rv-boat-self-storage">hammond wi</a></li>
        <li><a href="/directions/woodbury-mn-rv-boat-self-storage">woodbury mn</a></li>
        <li><a href="/directions/baldwin-wi-rv-boat-self-storage">baldwin wi</a></li>
        <li><a href="/directions/houlton-wi-rv-boat-self-storage">houlton wi</a></li>
      </ul>
      <div class="menu-copyright mar-t10">
        &copy; 2004-2017 <a href="http://www.nikestorage.com">nikestorage.com</a><br /><br />
        Code &amp; design by <a href="http://www.nanobasis.com" target="_blank">nanobasis</a>
      </div>
    </div>

  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-7001399-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>
